/*
Global scope document root;
NOTE: Using '%' layer transforms -> reactive env.
*/
:root
{
    /* Default color specified for this site; */
    --defaultColor: #5F9EA0FF;
    --backgroundColor: #ADD8E6FF;
    --shadowColor: #d6faff;
}
html {
    background: var(--backgroundColor);
}
/*
Alignment, font (color);
*/
h1, h3, p
{
    text-align: center;
    color: var(--defaultColor);
    /*
    text-shadow: h-shadow v-shadow blur-radius color|none|initial|inherit;
    */
    text-shadow: 1px 0.5px 1px var(--shadowColor);
    font-family: Hack;
}
.customForm
{
    text-align: center;
}
/*
Edit the size of form buttons;
1. Type submit, 2. Type reset;
*/
input[type=submit], input[type=reset]
{
    width: 12%;
    height: 20px;
    color: var(--defaultColor);
    box-shadow: 2.5px 2.5px 5px var(--shadowColor);
    border-radius: 5px;
}
/*
Smaller input textfield for mark value;
*/
input[type=number]
{
    width: 5%;
    height: 20px;
    color: var(--defaultColor);
    box-shadow: 2.5px 2.5px 5px var(--shadowColor);
    border-radius: 5px;
}
/*
Wider input textfield for student's name;
*/
input[type=text]
{
    width: 10%;
    height: 20px;
    color: var(--defaultColor);
    box-shadow: 2.5px 2.5px 5px var(--shadowColor);
    border-radius: 5px;
}
/*
Changes the settings of a <hr> tag
*/
hr
{
    width: 50%;
    border-width: 0.05%;
    border-color: black;
    border-bottom-color: var(--defaultColor);
}